
a.a-hide {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 0;
    color: #ffffff;
}

a:active {
    background: #1d1b31;
}

.menu-hide {
    background-color: #1d1b31;
    border-radius: 2px;
    width: 100px;
    height: 50px;
    text-align: center;
    position: inherit;
    z-index: 10;
    margin-left: 77px;
    margin-top: -50px;
    display: none;
}

a.a-hide:hover {
    color: #e9ecef;
    text-decoration: none;
}

li:hover + .menu-hide  {
    display: block;
}
