
div#DataTables_Table_0_wrapper {
    overflow: hidden !important;
}

label.required {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #383838 !important;
    font-weight: 600;
}

.btn-submit {
    width: 200px;
    height: 30px;
    margin-left: -10px;
    background-color: transparent;
    border: none;
}

a.btn.buttons-collection.buttons-colvis.btn-default {
    padding: 0px 0px 0px 0px;
    width: 0%;
    opacity: 0%;
    margin: 210px 0px 0px 0px;
    position: absolute;
}

a.btn.btn-xs.btn-m {
    color: #fff;
    background-color: #5cc975;
    border-color: #5cc975;
    height: 25px;
}

button.btn.btn-m {
    color: #fff;
    background-color: #5cc975;
    border-color: #5cc975;
}

a.c-sidebar-nav-link {
    color: #000000c7;
}

.card-top {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    flex-wrap: wrap;
    min-height: 1px;
    padding: 1.25rem;
    display: flex;
}

a.c-sidebar-nav-link.c-active {
    color: #2eb85c;
}

.btn-publi {
    color: #fff;
    background-color: #2eb85c;
    border-color: #2eb85c;
}

form {
    display: flex;
    flex-wrap: wrap;
}


/*  */
.btn-xpubli {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-xaprov {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger {
    display: none;
}

.table td, .table th {
    font-size: 0.8125rem;
    white-space: none !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 1px !important;
    margin-left: 10px !important;
    margin-bottom: 0 !important;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 0;
}

table.dataTable tbody td {
    padding: 50px 15px;
}

.btn-left, .btn-right {
    position: absolute;
    top: 2.5em;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 1px 1px 0px 10px;
    border-bottom: 0px solid #111;
}

.btn-right {
    right: 0;
    margin-right: -20px;
}

div.dataTables_scrollBody {
    overflow: hidden !important;
}

strong.e {
    color: white;
    background-color: #3399ff;
    padding: 0px 5px 0px 5px;
  }

strong.t {
  color: white;
  background-color: #e55353;
  padding: 0px 5px 0px 5px;
  margin: -1px;
  }

  strong.c {
    color: white;
    background-color: #f9b115c2;
    padding: 0px 5px 0px 5px;
    margin: 4px;
}

strong.m {
  color: white;
  background-color: #2eb85c;
  padding: 0px 5px 0px 5px;
  margin: 4px;
}

strong.tr {
  color: white;
  background-color: #4f5d73;
  padding: 0px 5px 0px 5px;
  margin: 4px;
}

.dshow {
display: block !important;
position: absolute !important;
margin-top: 0px;
right: 30px;
background-color: #f9f9f9;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

/* form */
 @media (min-width: 50px) and (max-width: 579px) {


.form-group {
    margin-bottom: 1rem !important;
    margin-left: 0.3rem;
}

 }

@media (min-width: 580px) {


.form-group {
    margin-bottom: 1.5rem !important;
    margin-left: 0.3rem;
}

}

/* p */

@media (min-width: 300px) and (max-width: 455px) {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      margin-right: -125px !important;
  }

}

@media (min-width: 456px) and (max-width: 490px) {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      margin-right: -205px !important;
  }

}

@media (min-width: 491px) and (max-width: 600px)  {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      margin-right: -250px !important;
  }

}

@media (min-width: 601px) and (max-width: 700px)  {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      margin-right: -350px !important;
  }

}

@media (min-width: 701px) {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      margin-right: -450px !important;
  }

}
