/* body */

.container-fluid {
    margin-top: 12rem;
    margin-left: -1rem;
    width: 95%;
}

p.fil {
    width: 110px !important;
}

.dataTables_scrollHead {
    height: 125px !important;
}

.btn-right {
    right: -2em;
}

.menu {
cursor: pointer;
padding: 15px;
max-height: 100px;
overflow: hidden;

}

.menu .line {
height: 3px;
display: block;
width: 3px;
background: #FFF;
box-shadow: 0 1px 3px #000;
margin: 2px;
opacity: 1;
transition: all 500ms ease;
}

.menu.active .line:nth-child(1) {
height: 1000px;
width: 250px;
margin: -20px;
box-shadow: 0 0 0 rgba(1, 1, 1, 0);
}
.menu.active .line:nth-child(2),
.menu.active .line:nth-child(3) {
opacity: 0;
}
.nav {
padding: 20px;
}
.menu:not(.active) .nav li {
opacity: 0;
margin-bottom: -10px;
}
.menu .nav li {
opacity: 1;
font-size: 16px;
margin-bottom: 20px;
transition: opacity 500ms ease, margin-bottom 500ms ease, padding-left 250ms ease;
}
.menu .nav li:hover {
padding-left: 5px;
}

table.dataTable tbody td {
padding: 20px 15px;
}

p {
    margin-top: 5px;
    margin-bottom: -2px;
    margin-right: -250px;
}

p.esc {
    margin-top: 5px;
    margin-bottom: -2px;
    margin-right: -500px;
}


p.bn {
margin-top: 2px;
margin-bottom: -1px;
margin-right: 0px;
}

input.btn.btn-xs.btn-danger {
margin-left: px;
}

.btn {
margin-left: -10px;
}

img {
    margin-left: 2px;
    width: 70px;
    height: auto;
}

p {
font-size: 14px;
}

p.cad {
font-size: 9px;
opacity: 50%;
}

p.esc {
font-size: 12px;
}


strong.e {
    color: white;
    background-color: #3399ff;
    padding: 0px 5px 0px 5px;
  }

strong.t {
  color: white;
  background-color: #e55353;
  padding: 0px 5px 0px 5px;
  margin: 4px;
  }


  table.dataTable tbody td.invisib {
      padding: 0px 400px;
  }


table.dataTable tbody td.menu {
padding: 0px 0px;

}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
vertical-align: top;
}

.row {
    margin: 0px 10px 10px 0px;
}


button.btn.btn-warning {
    margin: 5px;
}

.menu {
    cursor: pointer;
    padding: 0px;
    max-height: 100px;
    overflow: hidden;
}

tbody {
    flex: 2;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding: 0px;
  opacity: 0%;
  pointer-events: none;
  width: 0px !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 0px 0px;

}

a.btn.buttons-copy.buttons-html5.btn-default {
    display: none;
}

th.sorting {
    width: 00px;
}

.table-bordered, .table-bordered td, .table-bordered th {
  border: 0px solid;
  border-color: #d8dbe0;
}


table.dataTable thead th {
    border-bottom: 0px solid #c8ced3;

}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin: 30px 10px 10px 10px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 1px 1px 20px 10px;
    border-bottom: 0px solid #111;
}

.dataTables_scrollHead {
    overflow: hidden !important;
    overflow-x: auto !important;
    position: relative;
    border: 0px;
    width: 100%;
    height: 115px;
}

.dataTables_scrollHead::-webkit-scrollbar {
  width: 5px;
}

div.dataTables_scrollBody {
    overflow: hidden !important;
}

td.invisib {
    display: none;
}

.datatable {
    width: 0% !important;
}

td.d {
    display: none;
}

table.dataTable tbody td.btnn {
    padding-right: 0px;
    padding-left: 10px;
    padding-top: 60px;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #b0bed900;
}

.table tbody tr:focus {
    outline: 0;
    color: #4f5d73;
    background-color: transparent !important;
}

.table-hover tbody tr:hover {
    color: #4f5d73;
    background-color: transparent !important;
}

p.fil {
    margin: 5px;
    font-weight: 600;
}

.dshow {
display: block !important;
position: absolute !important;
margin-top: -50px;
right: 20px;
background-color: #f9f9f9;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

/* p */

@media (min-width: 300px) and (max-width: 455px) {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      width: 170px !important;
  }

}

@media (min-width: 456px) and (max-width: 490px) {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      width: 280px !important;
  }

}

@media (min-width: 491px) and (max-width: 600px)  {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      width: 310px !important;
  }

}

@media (min-width: 601px) and (max-width: 700px)  {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      width: 420px !important;
  }

}

@media (min-width: 701px) {

  p {
      margin-top: 5px;
      margin-bottom: -2px;
      width: 520px !important;
  }

}
